<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <property resource="application.properties"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${logging.console.encoder.pattern}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logging.file.file}</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>${logging.file.encoder.pattern}</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logging.file.fileNamePattern}</fileNamePattern>
            <maxFileSize>${logging.file.maxFileSize}</maxFileSize>
            <maxHistory>${logging.file.maxHistory}</maxHistory>
            <totalSizeCap>${logging.file.totalSizeCap}</totalSizeCap>
        </rollingPolicy>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
</configuration>
